In [ ]:
!pip install holidays

Requirement already satisfied: holidays in /usr/local/lib/python3.7/dist-packages (0.10.5.2)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays) (2.2.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from holidays) (2.8.2)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays) (0.2.1)
Requirement already satisfied: convertdate>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from holidays) (2.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays) (1.15.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays) (0.5.11)
Requirement already satisfied: pytz>=2014.10 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays) (2018.9)

In [ ]:
import numpy as np
import pandas as pd
import holidays
import datetime

In [ ]:
anos = []
for i in range(2010,2026):
    anos.append(i)
#print(anos)

In [ ]:
feriados = []
for date in holidays.Brazil(years=anos).items():
  #print(date)
  #print(str(date[0]))
  feriados.append(date)

In [ ]:
#Lista de feriados
feriados[0:50]

[(datetime.date(2016, 1, 1), 'Ano novo'),
 (datetime.date(2016, 4, 21), 'Tiradentes'),
 (datetime.date(2016, 5, 1), 'Dia Mundial do Trabalho'),
 (datetime.date(2016, 9, 7), 'Independência do Brasil'),
 (datetime.date(2016, 10, 12), 'Nossa Senhora Aparecida'),
 (datetime.date(2016, 11, 2), 'Finados'),
 (datetime.date(2016, 11, 15), 'Proclamação da República'),
 (datetime.date(2016, 12, 25), 'Natal'),
 (datetime.date(2016, 3, 25), 'Sexta-feira Santa'),
 (datetime.date(2016, 3, 27), 'Páscoa'),
 (datetime.date(2016, 5, 26), 'Corpus Christi'),
 (datetime.date(2016, 2, 10), 'Quarta-feira de cinzas (Início da Quaresma)'),
 (datetime.date(2016, 2, 9), 'Carnaval'),
 (datetime.date(2017, 1, 1), 'Ano novo'),
 (datetime.date(2017, 4, 21), 'Tiradentes'),
 (datetime.date(2017, 5, 1), 'Dia Mundial do Trabalho'),
 (datetime.date(2017, 9, 7), 'Independência do Brasil'),
 (datetime.date(2017, 10, 12), 'Nossa Senhora Aparecida'),
 (datetime.date(2017, 11, 2), 'Finados'),
 (datetime.date(2017, 11, 15), 'Proclamação da República'),
 (datetime.date(2017, 12, 25), 'Natal'),
 (datetime.date(2017, 4, 14), 'Sexta-feira Santa'),
 (datetime.date(2017, 4, 16), 'Páscoa'),
 (datetime.date(2017, 6, 15), 'Corpus Christi'),
 (datetime.date(2017, 3, 1), 'Quarta-feira de cinzas (Início da Quaresma)'),
 (datetime.date(2017, 2, 28), 'Carnaval'),
 (datetime.date(2018, 1, 1), 'Ano novo'),
 (datetime.date(2018, 4, 21), 'Tiradentes'),
 (datetime.date(2018, 5, 1), 'Dia Mundial do Trabalho'),
 (datetime.date(2018, 9, 7), 'Independência do Brasil'),
 (datetime.date(2018, 10, 12), 'Nossa Senhora Aparecida'),
 (datetime.date(2018, 11, 2), 'Finados'),
 (datetime.date(2018, 11, 15), 'Proclamação da República'),
 (datetime.date(2018, 12, 25), 'Natal'),
 (datetime.date(2018, 3, 30), 'Sexta-feira Santa'),
 (datetime.date(2018, 4, 1), 'Páscoa'),
 (datetime.date(2018, 5, 31), 'Corpus Christi'),
 (datetime.date(2018, 2, 14), 'Quarta-feira de cinzas (Início da Quaresma)'),
 (datetime.date(2018, 2, 13), 'Carnaval'),
 (datetime.date(2019, 1, 1), 'Ano novo'),
 (datetime.date(2019, 4, 21), 'Páscoa, Tiradentes'),
 (datetime.date(2019, 5, 1), 'Dia Mundial do Trabalho'),
 (datetime.date(2019, 9, 7), 'Independência do Brasil'),
 (datetime.date(2019, 10, 12), 'Nossa Senhora Aparecida'),
 (datetime.date(2019, 11, 2), 'Finados'),
 (datetime.date(2019, 11, 15), 'Proclamação da República'),
 (datetime.date(2019, 12, 25), 'Natal'),
 (datetime.date(2019, 4, 19), 'Sexta-feira Santa'),
 (datetime.date(2019, 6, 20), 'Corpus Christi'),
 (datetime.date(2019, 3, 6), 'Quarta-feira de cinzas (Início da Quaresma)')]

In [ ]:
#Dataframe com todos os feriados
df_feriados = pd.DataFrame(feriados, columns = ["dt_fer","anterior_desc"])
df_feriados = df_feriados.sort_values(["dt_fer"])
df_feriados["dt_fer"] = df_feriados["dt_fer"].astype(str)
df_feriados["dt_fer"] = df_feriados["dt_fer"].astype('datetime64[ns]')
df_feriados["anterior_feriado"] = 0
df_feriados["posterior_desc"] = df_feriados["anterior_desc"]
df_feriados["posterior_feriado"] = 0
df_feriados = df_feriados.rename(columns={'Dates':'data'})
df_feriados.head()

        dt_fer  ... posterior_feriado
129 2010-01-01  ...                 0
141 2010-02-16  ...                 0
140 2010-02-17  ...                 0
137 2010-04-02  ...                 0
138 2010-04-04  ...                 0

[5 rows x 5 columns]

In [ ]:
#Datas comemorativas
comemorativas = []
comemorativas.append([datetime.date(2010,5,9), 'Dia das Mães'])
comemorativas.append([datetime.date(2011,5,8), 'Dia das Mães'])
comemorativas.append([datetime.date(2012,5,13), 'Dia das Mães'])
comemorativas.append([datetime.date(2013,5,12), 'Dia das Mães'])
comemorativas.append([datetime.date(2014,5,11), 'Dia das Mães'])
comemorativas.append([datetime.date(2015,5,10), 'Dia das Mães'])
comemorativas.append([datetime.date(2016,5,8), 'Dia das Mães'])
comemorativas.append([datetime.date(2017,5,14), 'Dia das Mães'])
comemorativas.append([datetime.date(2018,5,13), 'Dia das Mães'])
comemorativas.append([datetime.date(2019,5,12), 'Dia das Mães'])
comemorativas.append([datetime.date(2020,5,10), 'Dia das Mães'])
comemorativas.append([datetime.date(2022,5,9), 'Dia das Mães'])
comemorativas.append([datetime.date(2022,5,8), 'Dia das Mães'])
comemorativas.append([datetime.date(2023,5,14), 'Dia das Mães'])
comemorativas.append([datetime.date(2024,5,12), 'Dia das Mães'])
comemorativas.append([datetime.date(2025,5,11), 'Dia das Mães'])
comemorativas.append([datetime.date(2010, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2011, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2012, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2013, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2014, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2015, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2016, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2017, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2018, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2019, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2020, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2021, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2022, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2023, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2024, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2025, 6, 12), 'Dia dos Namorados'])
comemorativas.append([datetime.date(2010,8,8), 'Dia dos Pais'])
comemorativas.append([datetime.date(2011,8,14), 'Dia dos Pais'])
comemorativas.append([datetime.date(2012,8,12), 'Dia dos Pais'])
comemorativas.append([datetime.date(2013,8,11), 'Dia dos Pais'])
comemorativas.append([datetime.date(2014,8,10), 'Dia dos Pais'])
comemorativas.append([datetime.date(2015,8,9), 'Dia dos Pais'])
comemorativas.append([datetime.date(2016,8,14), 'Dia dos Pais'])
comemorativas.append([datetime.date(2017,8,13), 'Dia dos Pais'])
comemorativas.append([datetime.date(2018,8,12), 'Dia dos Pais'])
comemorativas.append([datetime.date(2019,8,11), 'Dia dos Pais'])
comemorativas.append([datetime.date(2020,8,9), 'Dia dos Pais'])
comemorativas.append([datetime.date(2021,8,8), 'Dia dos Pais'])
comemorativas.append([datetime.date(2022,8,14), 'Dia dos Pais'])
comemorativas.append([datetime.date(2023,8,13), 'Dia dos Pais'])
comemorativas.append([datetime.date(2024,8,11), 'Dia dos Pais'])
comemorativas.append([datetime.date(2025,8,10), 'Dia dos Pais'])
comemorativas.append([datetime.date(2010,11,26), 'Black Friday'])
comemorativas.append([datetime.date(2011,11,25), 'Black Friday'])
comemorativas.append([datetime.date(2012,11,23), 'Black Friday'])
comemorativas.append([datetime.date(2013,11,29), 'Black Friday'])
comemorativas.append([datetime.date(2014,11,28), 'Black Friday'])
comemorativas.append([datetime.date(2015,11,27), 'Black Friday'])
comemorativas.append([datetime.date(2016,11,25), 'Black Friday'])
comemorativas.append([datetime.date(2017,11,24), 'Black Friday'])
comemorativas.append([datetime.date(2018,11,23), 'Black Friday'])
comemorativas.append([datetime.date(2019,11,29), 'Black Friday'])
comemorativas.append([datetime.date(2020,11,27), 'Black Friday'])
comemorativas.append([datetime.date(2021,11,26), 'Black Friday'])
comemorativas.append([datetime.date(2022,11,25), 'Black Friday'])
comemorativas.append([datetime.date(2023,11,24), 'Black Friday'])
comemorativas.append([datetime.date(2024,11,29), 'Black Friday'])
comemorativas.append([datetime.date(2025,11,28), 'Black Friday'])
comemorativas.append([datetime.date(2010,12,25), 'Natal'])
comemorativas.append([datetime.date(2011,12,25), 'Natal'])
comemorativas.append([datetime.date(2012,12,25), 'Natal'])
comemorativas.append([datetime.date(2013,12,25), 'Natal'])
comemorativas.append([datetime.date(2014,12,25), 'Natal'])
comemorativas.append([datetime.date(2015,12,25), 'Natal'])
comemorativas.append([datetime.date(2016,12,25), 'Natal'])
comemorativas.append([datetime.date(2017,12,25), 'Natal'])
comemorativas.append([datetime.date(2018,12,25), 'Natal'])
comemorativas.append([datetime.date(2019,12,25), 'Natal'])
comemorativas.append([datetime.date(2020,12,25), 'Natal'])
comemorativas.append([datetime.date(2021,12,25), 'Natal'])
comemorativas.append([datetime.date(2022,12,25), 'Natal'])
comemorativas.append([datetime.date(2023,12,25), 'Natal'])
comemorativas.append([datetime.date(2024,12,25), 'Natal'])
comemorativas.append([datetime.date(2025,12,25), 'Natal'])
comemorativas

[[datetime.date(2010, 5, 9), 'Dia das Mães'],
 [datetime.date(2011, 5, 8), 'Dia das Mães'],
 [datetime.date(2012, 5, 13), 'Dia das Mães'],
 [datetime.date(2013, 5, 12), 'Dia das Mães'],
 [datetime.date(2014, 5, 11), 'Dia das Mães'],
 [datetime.date(2015, 5, 10), 'Dia das Mães'],
 [datetime.date(2016, 5, 8), 'Dia das Mães'],
 [datetime.date(2017, 5, 14), 'Dia das Mães'],
 [datetime.date(2018, 5, 13), 'Dia das Mães'],
 [datetime.date(2019, 5, 12), 'Dia das Mães'],
 [datetime.date(2020, 5, 10), 'Dia das Mães'],
 [datetime.date(2022, 5, 9), 'Dia das Mães'],
 [datetime.date(2022, 5, 8), 'Dia das Mães'],
 [datetime.date(2023, 5, 14), 'Dia das Mães'],
 [datetime.date(2024, 5, 12), 'Dia das Mães'],
 [datetime.date(2025, 5, 11), 'Dia das Mães'],
 [datetime.date(2010, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2011, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2012, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2013, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2014, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2015, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2016, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2017, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2018, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2019, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2020, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2021, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2022, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2023, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2024, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2025, 6, 12), 'Dia dos Namorados'],
 [datetime.date(2010, 8, 8), 'Dia dos Pais'],
 [datetime.date(2011, 8, 14), 'Dia dos Pais'],
 [datetime.date(2012, 8, 12), 'Dia dos Pais'],
 [datetime.date(2013, 8, 11), 'Dia dos Pais'],
 [datetime.date(2014, 8, 10), 'Dia dos Pais'],
 [datetime.date(2015, 8, 9), 'Dia dos Pais'],
 [datetime.date(2016, 8, 14), 'Dia dos Pais'],
 [datetime.date(2017, 8, 13), 'Dia dos Pais'],
 [datetime.date(2018, 8, 12), 'Dia dos Pais'],
 [datetime.date(2019, 8, 11), 'Dia dos Pais'],
 [datetime.date(2020, 8, 9), 'Dia dos Pais'],
 [datetime.date(2021, 8, 8), 'Dia dos Pais'],
 [datetime.date(2022, 8, 14), 'Dia dos Pais'],
 [datetime.date(2023, 8, 13), 'Dia dos Pais'],
 [datetime.date(2024, 8, 11), 'Dia dos Pais'],
 [datetime.date(2025, 8, 10), 'Dia dos Pais'],
 [datetime.date(2010, 11, 26), 'Black Friday'],
 [datetime.date(2011, 11, 25), 'Black Friday'],
 [datetime.date(2012, 11, 23), 'Black Friday'],
 [datetime.date(2013, 11, 29), 'Black Friday'],
 [datetime.date(2014, 11, 28), 'Black Friday'],
 [datetime.date(2015, 11, 27), 'Black Friday'],
 [datetime.date(2016, 11, 25), 'Black Friday'],
 [datetime.date(2017, 11, 24), 'Black Friday'],
 [datetime.date(2018, 11, 23), 'Black Friday'],
 [datetime.date(2019, 11, 29), 'Black Friday'],
 [datetime.date(2020, 11, 27), 'Black Friday'],
 [datetime.date(2021, 11, 26), 'Black Friday'],
 [datetime.date(2022, 11, 25), 'Black Friday'],
 [datetime.date(2023, 11, 24), 'Black Friday'],
 [datetime.date(2024, 11, 29), 'Black Friday'],
 [datetime.date(2025, 11, 28), 'Black Friday'],
 [datetime.date(2010, 12, 25), 'Natal'],
 [datetime.date(2011, 12, 25), 'Natal'],
 [datetime.date(2012, 12, 25), 'Natal'],
 [datetime.date(2013, 12, 25), 'Natal'],
 [datetime.date(2014, 12, 25), 'Natal'],
 [datetime.date(2015, 12, 25), 'Natal'],
 [datetime.date(2016, 12, 25), 'Natal'],
 [datetime.date(2017, 12, 25), 'Natal'],
 [datetime.date(2018, 12, 25), 'Natal'],
 [datetime.date(2019, 12, 25), 'Natal'],
 [datetime.date(2020, 12, 25), 'Natal'],
 [datetime.date(2021, 12, 25), 'Natal'],
 [datetime.date(2022, 12, 25), 'Natal'],
 [datetime.date(2023, 12, 25), 'Natal'],
 [datetime.date(2024, 12, 25), 'Natal'],
 [datetime.date(2025, 12, 25), 'Natal']]

In [ ]:
df_comemorativas = pd.DataFrame(comemorativas, columns = ["dt_com","anterior_com"])
df_comemorativas = df_comemorativas.sort_values(["dt_com"])
df_comemorativas["dt_com"] = df_comemorativas["dt_com"].astype(str)
df_comemorativas["dt_com"] = df_comemorativas["dt_com"].astype('datetime64[ns]')
df_comemorativas["anterior_dist"] = 0
df_comemorativas["posterior_com"] = df_comemorativas["anterior_com"]
df_comemorativas["posterior_dist"] = 0

df_comemorativas.head()

       dt_com       anterior_com  ...      posterior_com posterior_dist
0  2010-05-09       Dia das Mães  ...       Dia das Mães              0
16 2010-06-12  Dia dos Namorados  ...  Dia dos Namorados              0
32 2010-08-08       Dia dos Pais  ...       Dia dos Pais              0
48 2010-11-26       Black Friday  ...       Black Friday              0
64 2010-12-25              Natal  ...              Natal              0

[5 rows x 5 columns]

In [ ]:
#Dataframe com todas as datas
start = datetime.datetime(year= 2010, month=1, day=1)
end = datetime.datetime(year= 2025, month=12, day=25)
df = pd.DataFrame()
df["data"] = pd.date_range(start, end)
df.head()

        data
0 2010-01-01
1 2010-01-02
2 2010-01-03
3 2010-01-04
4 2010-01-05

In [ ]:
df_fer = pd.merge(df,df_feriados, how="outer" ,left_on = "data", right_on="dt_fer")
df_fer

           data     dt_fer  ... posterior_desc  posterior_feriado
0    2010-01-01 2010-01-01  ...       Ano novo                0.0
1    2010-01-02        NaT  ...            NaN                NaN
2    2010-01-03        NaT  ...            NaN                NaN
3    2010-01-04        NaT  ...            NaN                NaN
4    2010-01-05        NaT  ...            NaN                NaN
...         ...        ...  ...            ...                ...
5833 2025-12-21        NaT  ...            NaN                NaN
5834 2025-12-22        NaT  ...            NaN                NaN
5835 2025-12-23        NaT  ...            NaN                NaN
5836 2025-12-24        NaT  ...            NaN                NaN
5837 2025-12-25 2025-12-25  ...          Natal                0.0

[5838 rows x 6 columns]

In [ ]:
df_com= pd.merge(df,df_comemorativas, how="outer" ,left_on = "data", right_on="dt_com")
df_com.head(2551)

           data     dt_com  ... posterior_com  posterior_dist
0    2010-01-01        NaT  ...           NaN             NaN
1    2010-01-02        NaT  ...           NaN             NaN
2    2010-01-03        NaT  ...           NaN             NaN
3    2010-01-04        NaT  ...           NaN             NaN
4    2010-01-05        NaT  ...           NaN             NaN
...         ...        ...  ...           ...             ...
2546 2016-12-21        NaT  ...           NaN             NaN
2547 2016-12-22        NaT  ...           NaN             NaN
2548 2016-12-23        NaT  ...           NaN             NaN
2549 2016-12-24        NaT  ...           NaN             NaN
2550 2016-12-25 2016-12-25  ...         Natal             0.0

[2551 rows x 6 columns]

In [ ]:
for index,rows in df_fer.iterrows():
  if rows.anterior_feriado == 0.0:
      #print(index, rows.dt_fer, rows.anterior_desc)
      dist = 0
      ferAtual = rows.anterior_desc
  else:
      dist = dist + 1
      df_fer.at[index,"anterior_feriado"] = dist
      df_fer.at[index,"anterior_desc"] = ferAtual

df_fer.head(50)

         data  ... posterior_feriado
0  2010-01-01  ...               0.0
1  2010-01-02  ...               NaN
2  2010-01-03  ...               NaN
3  2010-01-04  ...               NaN
4  2010-01-05  ...               NaN
5  2010-01-06  ...               NaN
6  2010-01-07  ...               NaN
7  2010-01-08  ...               NaN
8  2010-01-09  ...               NaN
9  2010-01-10  ...               NaN
10 2010-01-11  ...               NaN
11 2010-01-12  ...               NaN
12 2010-01-13  ...               NaN
13 2010-01-14  ...               NaN
14 2010-01-15  ...               NaN
15 2010-01-16  ...               NaN
16 2010-01-17  ...               NaN
17 2010-01-18  ...               NaN
18 2010-01-19  ...               NaN
19 2010-01-20  ...               NaN
20 2010-01-21  ...               NaN
21 2010-01-22  ...               NaN
22 2010-01-23  ...               NaN
23 2010-01-24  ...               NaN
24 2010-01-25  ...               NaN
25 2010-01-26  ...               NaN
26 2010-01-27  ...               NaN
27 2010-01-28  ...               NaN
28 2010-01-29  ...               NaN
29 2010-01-30  ...               NaN
30 2010-01-31  ...               NaN
31 2010-02-01  ...               NaN
32 2010-02-02  ...               NaN
33 2010-02-03  ...               NaN
34 2010-02-04  ...               NaN
35 2010-02-05  ...               NaN
36 2010-02-06  ...               NaN
37 2010-02-07  ...               NaN
38 2010-02-08  ...               NaN
39 2010-02-09  ...               NaN
40 2010-02-10  ...               NaN
41 2010-02-11  ...               NaN
42 2010-02-12  ...               NaN
43 2010-02-13  ...               NaN
44 2010-02-14  ...               NaN
45 2010-02-15  ...               NaN
46 2010-02-16  ...               0.0
47 2010-02-17  ...               0.0
48 2010-02-18  ...               NaN
49 2010-02-19  ...               NaN

[50 rows x 6 columns]

In [ ]:
comAtual = "Natal"
#anterior_dist = 7
for index,rows in df_com.iterrows():
  if rows.anterior_dist == 0.0:
      #print(index, rows.dt_fer, rows.anterior_desc)
      dist = 0
      comAtual = rows.anterior_com
  else:
      dist = dist + 1
      df_com.at[index,"anterior_dist"] = dist
      df_com.at[index,"anterior_com"] = comAtual

df_com.head(2551)

           data     dt_com  ... posterior_com  posterior_dist
0    2010-01-01        NaT  ...           NaN             NaN
1    2010-01-02        NaT  ...           NaN             NaN
2    2010-01-03        NaT  ...           NaN             NaN
3    2010-01-04        NaT  ...           NaN             NaN
4    2010-01-05        NaT  ...           NaN             NaN
...         ...        ...  ...           ...             ...
2546 2016-12-21        NaT  ...           NaN             NaN
2547 2016-12-22        NaT  ...           NaN             NaN
2548 2016-12-23        NaT  ...           NaN             NaN
2549 2016-12-24        NaT  ...           NaN             NaN
2550 2016-12-25 2016-12-25  ...         Natal             0.0

[2551 rows x 6 columns]

In [ ]:
reversed_fer = df_fer.iloc[::-1]
reversed_fer.head(5)

for index,rows in reversed_fer.iterrows():
  if rows.anterior_feriado == 0.0:
      #print(index, rows.dt_fer, rows.anterior_desc)
      dist = 0
      ferAtual = rows.anterior_desc
  else:
      dist = dist + 1
      reversed_fer.at[index,"posterior_feriado"] = dist
      reversed_fer.at[index,"posterior_desc"] = ferAtual

reversed_fer.head(50)

           data     dt_fer  ...            posterior_desc  posterior_feriado
5837 2025-12-25 2025-12-25  ...                     Natal                0.0
5836 2025-12-24        NaT  ...                     Natal                1.0
5835 2025-12-23        NaT  ...                     Natal                2.0
5834 2025-12-22        NaT  ...                     Natal                3.0
5833 2025-12-21        NaT  ...                     Natal                4.0
5832 2025-12-20        NaT  ...                     Natal                5.0
5831 2025-12-19        NaT  ...                     Natal                6.0
5830 2025-12-18        NaT  ...                     Natal                7.0
5829 2025-12-17        NaT  ...                     Natal                8.0
5828 2025-12-16        NaT  ...                     Natal                9.0
5827 2025-12-15        NaT  ...                     Natal               10.0
5826 2025-12-14        NaT  ...                     Natal               11.0
5825 2025-12-13        NaT  ...                     Natal               12.0
5824 2025-12-12        NaT  ...                     Natal               13.0
5823 2025-12-11        NaT  ...                     Natal               14.0
5822 2025-12-10        NaT  ...                     Natal               15.0
5821 2025-12-09        NaT  ...                     Natal               16.0
5820 2025-12-08        NaT  ...                     Natal               17.0
5819 2025-12-07        NaT  ...                     Natal               18.0
5818 2025-12-06        NaT  ...                     Natal               19.0
5817 2025-12-05        NaT  ...                     Natal               20.0
5816 2025-12-04        NaT  ...                     Natal               21.0
5815 2025-12-03        NaT  ...                     Natal               22.0
5814 2025-12-02        NaT  ...                     Natal               23.0
5813 2025-12-01        NaT  ...                     Natal               24.0
5812 2025-11-30        NaT  ...                     Natal               25.0
5811 2025-11-29        NaT  ...                     Natal               26.0
5810 2025-11-28        NaT  ...                     Natal               27.0
5809 2025-11-27        NaT  ...                     Natal               28.0
5808 2025-11-26        NaT  ...                     Natal               29.0
5807 2025-11-25        NaT  ...                     Natal               30.0
5806 2025-11-24        NaT  ...                     Natal               31.0
5805 2025-11-23        NaT  ...                     Natal               32.0
5804 2025-11-22        NaT  ...                     Natal               33.0
5803 2025-11-21        NaT  ...                     Natal               34.0
5802 2025-11-20        NaT  ...                     Natal               35.0
5801 2025-11-19        NaT  ...                     Natal               36.0
5800 2025-11-18        NaT  ...                     Natal               37.0
5799 2025-11-17        NaT  ...                     Natal               38.0
5798 2025-11-16        NaT  ...                     Natal               39.0
5797 2025-11-15 2025-11-15  ...  Proclamação da República                0.0
5796 2025-11-14        NaT  ...  Proclamação da República                1.0
5795 2025-11-13        NaT  ...  Proclamação da República                2.0
5794 2025-11-12        NaT  ...  Proclamação da República                3.0
5793 2025-11-11        NaT  ...  Proclamação da República                4.0
5792 2025-11-10        NaT  ...  Proclamação da República                5.0
5791 2025-11-09        NaT  ...  Proclamação da República                6.0
5790 2025-11-08        NaT  ...  Proclamação da República                7.0
5789 2025-11-07        NaT  ...  Proclamação da República                8.0
5788 2025-11-06        NaT  ...  Proclamação da República                9.0

[50 rows x 6 columns]

In [ ]:
reversed_com = df_com.iloc[::-1]
#reversed_com.head(5)

for index,rows in reversed_com.iterrows():
  if rows.anterior_dist == 0.0:
      #print(index, rows.dt_fer, rows.anterior_desc)
      dist = 0
      comAtual = rows.anterior_com
  else:
      dist = dist + 1
      reversed_com.at[index,"posterior_dist"] = dist
      reversed_com.at[index,"posterior_com"] = comAtual

reversed_com.head(2551)

           data     dt_com  ... posterior_com  posterior_dist
5837 2025-12-25 2025-12-25  ...         Natal             0.0
5836 2025-12-24        NaT  ...         Natal             1.0
5835 2025-12-23        NaT  ...         Natal             2.0
5834 2025-12-22        NaT  ...         Natal             3.0
5833 2025-12-21        NaT  ...         Natal             4.0
...         ...        ...  ...           ...             ...
3291 2019-01-05        NaT  ...  Dia das Mães           127.0
3290 2019-01-04        NaT  ...  Dia das Mães           128.0
3289 2019-01-03        NaT  ...  Dia das Mães           129.0
3288 2019-01-02        NaT  ...  Dia das Mães           130.0
3287 2019-01-01        NaT  ...  Dia das Mães           131.0

[2551 rows x 6 columns]

In [ ]:
df_fer = reversed_fer.iloc[::-1]
df_fer.head(5)

        data     dt_fer  ... posterior_desc  posterior_feriado
0 2010-01-01 2010-01-01  ...       Ano novo                0.0
1 2010-01-02        NaT  ...       Carnaval               45.0
2 2010-01-03        NaT  ...       Carnaval               44.0
3 2010-01-04        NaT  ...       Carnaval               43.0
4 2010-01-05        NaT  ...       Carnaval               42.0

[5 rows x 6 columns]

In [ ]:
df_com = reversed_com.iloc[::-1]
df_com.head(5)

        data dt_com anterior_com  anterior_dist posterior_com  posterior_dist
0 2010-01-01    NaT        Natal            1.0  Dia das Mães           128.0
1 2010-01-02    NaT        Natal            2.0  Dia das Mães           127.0
2 2010-01-03    NaT        Natal            3.0  Dia das Mães           126.0
3 2010-01-04    NaT        Natal            4.0  Dia das Mães           125.0
4 2010-01-05    NaT        Natal            5.0  Dia das Mães           124.0

In [ ]:
df_fer["feriado"] = False
for index,rows in df_fer.iterrows():
  if rows.dt_fer == rows.data:
      #print(index, rows.dt_fer, rows.anterior_desc)
      df_fer.at[index,"feriado"] = True

df_fer = df_fer.drop(columns=['dt_fer'])
df_fer.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        data anterior_desc  ...  posterior_feriado feriado
0 2010-01-01      Ano novo  ...                0.0    True
1 2010-01-02      Ano novo  ...               45.0   False
2 2010-01-03      Ano novo  ...               44.0   False
3 2010-01-04      Ano novo  ...               43.0   False
4 2010-01-05      Ano novo  ...               42.0   False

[5 rows x 6 columns]

In [ ]:
df_com["comemorativo"] = False
for index,rows in df_com.iterrows():
  if rows.dt_com == rows.data:
      #print(index, rows.dt_fer, rows.anterior_desc)
      df_com.at[index,"comemorativo"] = True

df_com = df_com.drop(columns=['dt_com'])
df_com.head(50)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         data anterior_com  ...  posterior_dist comemorativo
0  2010-01-01        Natal  ...           128.0        False
1  2010-01-02        Natal  ...           127.0        False
2  2010-01-03        Natal  ...           126.0        False
3  2010-01-04        Natal  ...           125.0        False
4  2010-01-05        Natal  ...           124.0        False
5  2010-01-06        Natal  ...           123.0        False
6  2010-01-07        Natal  ...           122.0        False
7  2010-01-08        Natal  ...           121.0        False
8  2010-01-09        Natal  ...           120.0        False
9  2010-01-10        Natal  ...           119.0        False
10 2010-01-11        Natal  ...           118.0        False
11 2010-01-12        Natal  ...           117.0        False
12 2010-01-13        Natal  ...           116.0        False
13 2010-01-14        Natal  ...           115.0        False
14 2010-01-15        Natal  ...           114.0        False
15 2010-01-16        Natal  ...           113.0        False
16 2010-01-17        Natal  ...           112.0        False
17 2010-01-18        Natal  ...           111.0        False
18 2010-01-19        Natal  ...           110.0        False
19 2010-01-20        Natal  ...           109.0        False
20 2010-01-21        Natal  ...           108.0        False
21 2010-01-22        Natal  ...           107.0        False
22 2010-01-23        Natal  ...           106.0        False
23 2010-01-24        Natal  ...           105.0        False
24 2010-01-25        Natal  ...           104.0        False
25 2010-01-26        Natal  ...           103.0        False
26 2010-01-27        Natal  ...           102.0        False
27 2010-01-28        Natal  ...           101.0        False
28 2010-01-29        Natal  ...           100.0        False
29 2010-01-30        Natal  ...            99.0        False
30 2010-01-31        Natal  ...            98.0        False
31 2010-02-01        Natal  ...            97.0        False
32 2010-02-02        Natal  ...            96.0        False
33 2010-02-03        Natal  ...            95.0        False
34 2010-02-04        Natal  ...            94.0        False
35 2010-02-05        Natal  ...            93.0        False
36 2010-02-06        Natal  ...            92.0        False
37 2010-02-07        Natal  ...            91.0        False
38 2010-02-08        Natal  ...            90.0        False
39 2010-02-09        Natal  ...            89.0        False
40 2010-02-10        Natal  ...            88.0        False
41 2010-02-11        Natal  ...            87.0        False
42 2010-02-12        Natal  ...            86.0        False
43 2010-02-13        Natal  ...            85.0        False
44 2010-02-14        Natal  ...            84.0        False
45 2010-02-15        Natal  ...            83.0        False
46 2010-02-16        Natal  ...            82.0        False
47 2010-02-17        Natal  ...            81.0        False
48 2010-02-18        Natal  ...            80.0        False
49 2010-02-19        Natal  ...            79.0        False

[50 rows x 6 columns]

#Mesclagem

In [ ]:
df_data = pd.merge(df_fer,df_com,how='inner', on="data")
df_data.head(2550)

           data             anterior_desc  ...  posterior_dist comemorativo
0    2010-01-01                  Ano novo  ...           128.0        False
1    2010-01-02                  Ano novo  ...           127.0        False
2    2010-01-03                  Ano novo  ...           126.0        False
3    2010-01-04                  Ano novo  ...           125.0        False
4    2010-01-05                  Ano novo  ...           124.0        False
...         ...                       ...  ...             ...          ...
2545 2016-12-20  Proclamação da República  ...             5.0        False
2546 2016-12-21  Proclamação da República  ...             4.0        False
2547 2016-12-22  Proclamação da República  ...             3.0        False
2548 2016-12-23  Proclamação da República  ...             2.0        False
2549 2016-12-24  Proclamação da República  ...             1.0        False

[2550 rows x 11 columns]

In [ ]:
df_data.to_csv("datas.csv")